spring:
  datasource:
    url: jdbc:mysql://localhost:3306/nebula_dbApp?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ""
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:

    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.MySQLDialect